body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  color: #303030;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  margin-top: 120px;
}
img {
  display: block;
}

.booking-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  /* text */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
}
/* SIDEBAR */
.sidebar {
  padding-left: 30px;
  height: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  writing-mode: vertical-rl;
  transform: scale(1);
}

.sidebar-menu {
  transform: scale(-1);
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.sidebar-nav {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #303030;
}
/* SIDEBAR */

/* headerbox */
.header-box {
  width: 1170px;
  background-image: url(../images/header/Slider1.jpg);
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
  margin-left: 100px;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.nav-links {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
}
.nav-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 43px;
}
.box-info {
  margin-top: 184px;
  margin-left: 100px;
  display: block;
  width: 444px;
}
.info-par1 {
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.info-title {
  padding-top: 20px;
  /* text */
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.05em;
  color: #fff;
}
.info-par2 {
  padding-top: 20px;
  /* text */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* headerbox */
/* ABOUT */
.about {
  display: flex;
  gap: 30px;
}
.about-img {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 100px;
}
.about-par1 {
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #303030;
}
.about-title {
  /* text */
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: #303030;
}
.about-par2 {
  /* text */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #555;
}
.about-par3 {
  /* text */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85714;
  letter-spacing: 0.02em;
  color: #555;
}
.about-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  background-color: transparent;
  margin-top: 25px;
  cursor: pointer;
  /* text */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}
/* ABOUT */

/* services and prices */
.serv-price {
  height: 692px;
  background-color: #111319;
  background-image: linear-gradient(rgba(6, 6, 8, 0.7), rgba(11, 11, 16, 0.7)),
    url(../images/serv&prices/backprices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.price-info {
  padding-top: 120px;
  padding-bottom: 44px;
}
.price-info-par {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* text */
  color: rgba(157, 164, 189, 0.6);
}
.price-info-title {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;

  margin-bottom: 44px;
  /* text */
  color: #fff;
}
.price-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.price-box-1 {
  width: 570px;
  height: 240px;
  background-image: linear-gradient(to bottom, #171a24, #171a2433);
  padding: 30px 21.3px 30px 20px;
}
.price-box-2 {
  width: 570px;
  height: 240px;
  background-image: linear-gradient(to bottom, #090b13, #090b1333);
  padding: 30px 21.3px 30px 20px;
}

.price-box-li {
  /* text */
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
  color: #9da4bd;
}

.serv-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  /* text */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
}
/* services and prices */
