body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  color: #303030;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 120px 0;
}
img {
  display: block;
}

.booking-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  /* text */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: #ff6c00;
  outline: none;
}

/* прочерк */
.procherk-vert {
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.procherk-vert::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 0.5px;
  height: 60px;
  background-color: currentColor;
  border-radius: 1px;
  bottom: 100px;
}

.procherk-gor {
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.procherk-gor::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 0.5px;
  background-color: currentColor;
  border-radius: 1px;
  left: -80px;
  top: 6px;
}
/* прочерк */

/* HEADER */
header {
  display: flex;
}
/* SIDEBAR */
.sidebar {
  padding-left: 30px;
  padding-right: 30px;
  height: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  writing-mode: vertical-rl;
  transform: scale(1);
}

.sidebar-menu {
  transform: scale(-1);
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.sidebar-nav {
  /* text */
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #303030;
}

.sidebar-nav:hover,
.sidebar-nav:focus {
  color: #ff6c00;
}
/* SIDEBAR */

/* headerbox */
.header-box {
  padding-right: 17px;
  width: 100%;
  background-image: url(../images/header/Slider1.jpg);
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
  margin-left: 100px;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.nav-links {
  /* text */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
}

.nav-links:hover,
.nav-links:focus {
  color: #ff6c00;
}
.nav-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 43px;
}
.box-info {
  margin-top: 184px;
  margin-left: 100px;
  display: block;
  width: 444px;
}
.info-par1 {
  margin-left: 80px;
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.info-title {
  padding-top: 20px;
  /* text */
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.05em;
  color: #fff;
}
.info-par2 {
  padding-top: 20px;
  /* text */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* headerbox */
/* ABOUT */
.about {
  display: flex;
  gap: 30px;
}
.about-img {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 100px;
}
.about-par1 {
  margin-left: 80px;
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #303030;
}
.about-title {
  /* text */
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: #303030;
}
.about-par2 {
  /* text */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #555;
}
.about-par3 {
  /* text */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85714;
  letter-spacing: 0.02em;
  color: #555;
}
.about-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  background-color: transparent;
  margin-top: 25px;
  cursor: pointer;
  /* text */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

.about-btn:hover,
.about-btn:focus {
  background-color: #ff6c00;
  outline: none;
  color: #fff;
}
/* ABOUT */

/* services and prices */
.serv-price {
  background-color: #111319;
  background-image: url(../images/serv&prices/img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.price-info {
  padding-top: 120px;
  padding-bottom: 44px;
}
.price-info-par {
  margin-left: 80px;
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}
.price-info-title {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;

  margin-bottom: 44px;
  /* text */
  color: #fff;
}
.price-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 44px;
}
.price-box-1 {
  width: 570px;
  height: 240px;
  background-image: linear-gradient(to bottom, #171a24, #171a2433);
  padding: 30px 21.3px 30px 20px;
}
.price-box-2 {
  width: 570px;
  height: 240px;
  background-image: linear-gradient(to bottom, #090b13, #090b1333);
  padding: 30px 21.3px 30px 20px;
}

.price-box-li {
  /* text */
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
  color: #9da4bd;
}

.serv-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  /* text */
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
}

.serv-btn:hover,
.serv-btn:focus {
  background-color: #ff6c00;
  outline: none;
  color: #fff;
}
/* services and prices */

/* advantages */
.advantages {
  background-color: #fff;
  display: flex;
}
.advantages-box {
  display: flex;
}
.advantages-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.cards {
  width: 170px;
  height: 133px;
  background: #111319;
}
.why-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.why-info-par1 {
  margin-left: 80px;
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #303030;
}
.why-info-title {
  /* text */
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: #303030;
}
.why-info-pa2 {
  /* text */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #555;
}
/* advantages */

/* barbers */
.barbers {
  background-color: #f7f7f7;
}
.barbers-par {
  margin-left: 80px;
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #303030;
}
.barbers-title {
  margin-bottom: 44px;
  /* text */
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: #303030;
}

.team {
  display: flex;
  gap: 30px;
}

.team-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-info {
  padding: 30px 0;
}

.card-info-title {
  /* text */
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #303030;
}

.card-info-par {
  margin-top: 8px;
  margin-bottom: 30px;
  /* text */
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ff6c00;
}

.social-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-box-card {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover > svg,
.social-link:focus > svg {
  fill: #ff6c00;
}

.social-icon {
  background-repeat: no-repeat;
  background-size: contain;
  fill: #303030;
}

/* barbers */

/* portfolio */
.portfolio-par {
  margin-left: 80px;
  margin-bottom: 44px;
  /* text */
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #303030;
}

.portfolio-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
/* portfolio */

/* contacts */
.contacts {
  background-color: #191c26;
  background-image: url(../images/contacts/image.png);
  background-repeat: no-repeat;
  background-position: 770px 0px;
}

.contacts-box {
  display: flex;
}

.online-form {
}

.form-title {
  margin-bottom: 44px;
  /* text */
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: #fff;
}

.contacts-field {
  display: flex;
  margin-bottom: 44px;
  gap: 30px;
}

.contacts-field-input {
  width: 270px;
  height: 24px;
  border: none;
  border-bottom: 1px solid #9da4bd66;
  background-color: transparent;
  padding: 0 0 8px 0;
  outline: transparent;
  cursor: pointer;
  /* text */
}
.contacts-field-input::placeholder {
  /* text */
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: left;
  color: #9da4bd66;
}
/* .contacts-field-input:focus::placeholder {
  color: #fff;
} */
.contacts-field-input:focus,
.contacts-field-input:focus::placeholder,
.contacts-field-input:hover,
.contacts-field-input:hover::placeholder {
  border-color: #fff;
  color: #fff;
}

.contacts-field-textarea {
  width: 570px;
  height: 76px;
  border: none;
  border-bottom: 1px solid #9da4bd66;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding-top: 8px;
}

.contacts-field-textarea::placeholder {
  /* text */
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contacts-field-textarea:focus,
.contacts-field-textarea:focus::placeholder,
.contacts-field-textarea:hover,
.contacts-field-textarea:hover::placeholder {
  border-color: #fff;
  color: #fff;
}

.contacts-info {
  width: 785px;
  height: 395px;
  margin-left: 100px;
}
.contacts-info-title {
  margin-bottom: 44px;
  /* text */
  font-size: 42px;
  letter-spacing: 2.1px;
  text-align: left;
  color: #fff;
}
.contacts-info-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 70px;
}
.contacts-info-li {
  /* text */
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
  text-align: left;
  color: #9da4bd;
}
.contacts-info-par1 {
  margin-bottom: 20px;
  /* text */
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}
.contacts-info-par2 {
  /* text */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* contacts */

/* footer */
.footer-par {
  /* text */
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-box {
  margin-top: 56px;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  gap: 40px;
}
.footer-social {
  /* text */
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-social:hover,
.footer-social:focus {
  color: #ff6c00;
}
/* footer */
